! urxvt
! basic configuration
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.internalBorder: 14
URxvt.urlLauncher: firefox
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*font:  xft:inconsolata:size=10:antialias=true
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,matcher
URxvt.matcher.button: 1

! Enable normal copy/paste
URxvt.iso14755:        false
URxvt.iso14755_52:     false
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

! font options
URxvt.font:       xft:Fantasque Sans Mono: size=14: antialiasing=true
Xft*dpi:          96
Xft.antialias:    true
Xft*hinting:      full

! Black color that will not be affected by bold highlighting.
*.color66: #0e1c1b
*color66:  #0e1c1b

! cursor theme
Xcursor.theme:Yaru

! Xclock colors.
! XClock*foreground: #c5ccc3
! XClock*background: #0e1c1b
! XClock*majorColor:  rgba:c5/cc/c3/ff
! XClock*minorColor:  rgba:c5/cc/c3/ff
! XClock*hourColor:   rgba:c5/cc/c3/ff
! XClock*minuteColor: rgba:c5/cc/c3/ff
! XClock*secondColor: rgba:c5/cc/c3/ff


