body, html {
  height: 100%;
  margin: 0px;
}

.grid-container {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";

  justify-items: center;
  align-items: center;
}
